@{
    ViewBag.Title = "Logger";
}

<div>
    <h2>File Contents:</h2>
    <p>@ViewBag.FileContents</p>
</div>

<p>
    <a asp-controller="Users" asp-action="List" class="btn btn-primary">To User List</a>
</p>
